body{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
   
    overflow-x: hidden;
}
a:hover{
    color: #FFC433;
}
.boxnav{
    position: relative;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.7422619560519521) 50%, rgba(252,176,69,1) 100%);    width: 100%;
    height: 60px;
}
.logo{
    position: absolute;
    padding-top: 25px;
    left: 35px;
}
.nav{
    display: inline-flex;
}
.nav_acceuil,.nav_gestionClients,.nav_transactions,.nav_demandePret,.deconnexion{
    margin-right: 25px;
    font: 18px sans-serif ;
    text-decoration-line: none;
    font-style: oblique ;
    color: #FFFFFF;
    padding-top: 25px;
}
.nav_acceuil{
    margin-left: 650px;
}
.en_tete{
    /* position: absolute; */
    top: 200px;
    margin-left: 10% ;
    /* padding-top: 20px; */
    height: 282px;
    width: 80%;
    /* padding-top: 18px; */
    text-align: center;
    border-radius: 10px;
    background-color: rgb(47, 73, 73);
}
.image{
    position: absolute;
    background-color: #FFC433;
    border-radius: 10px;
    width: 578px;
    left: 30px;
    top: 500px;
    height: 1256px;
}
.image1{
    position: relative;
    margin-top: 10px;
}
.image2{
    position: absolute;
    left: 10px;
    top: 1120px;
}
h1 {
    padding-top: 30px;
    font-size: 36px;
    color: #FFC433;

}
h2 {
    color: #FFC433;
    text-decoration-line: underline;
}
.titre_form{
    margin-top: 50px;
    color: #000000;
    text-align: center;
    text-decoration-line: underline;
    font-size: 26px;
}
p{
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    font-size: 19px;
}

.formulaire{
    position: absolute;  
    width: 608px;
    /* height: 40%; */
    border: solid 3px #FFC433;
    left: 600px;
    /* background-color: #000000; */
    top: 500px;
    border-top-right-radius:10px ;
}
fieldset{
    border-left: none;
    border-right: none;
    border-bottom: none;
}

legend{
    font-weight: bold;
}
label{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
input{
    width: 487px;
    height: 49px;
    background: #d7cece;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.17);
    border-radius: 9px;
    border-color: #AF8B33;
}
.deux_input{
    display: flex;
}
.deux_input input{
    width: 243px;

}
button{
    width: 213px;
    height: 65px;
    background: #FFC433;
    border-radius: 10px;
    margin-left: 142px; 
}
button:hover{
    cursor: grab;
}
.boxnav{
    position: relative;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.7422619560519521) 50%, rgba(252,176,69,1) 100%);    width: 100%;
    height: 60px;
}
.boxfooter{
    position: absolute;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.7422619560519521) 50%, rgba(252,176,69,1) 100%);    width: 100%;
    height: 190px;
    top: 115rem;
    padding:  20px 0px 20px 20px;
}
.boxfooter p:first-child {
    margin-top: 3rem;
    font-size: 15px;
    width: 290px;
    margin-right: 190px;
}

.boxfooter a {
    text-decoration: none; 
    color: #ffffff;
    font-size: 20px;

}
.boxfooter ul {
    margin-right: 200px;
    margin-top: 1rem;
    color: #ffffff;
}
h3 {
    color: #000000;
    text-decoration-line: underline;
}
.boxfooter a:hover {
    text-decoration: underline; 
    color: #FFC433;
}